@media only screen and (min-width: 1000px) {
	.main {
	width: 83%;
	max-width: 1920px;
	padding-left: 1.55%;
	padding-right: 1.55%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
.menu
{
	width:448px;
	margin:0 auto;
}
.content
{
	width: 100%;
	min-width: 900px;
	left:1%;
	padding-left:0 !important;
	padding-right:0 !important;
	position:relative;
	padding-bottom: 50px;
	img{
		width:135px;
		display:block;
		margin:0 auto;
		float:none;
		left: 15%;
		position: relative;
	}
	div{
		background-image:none;
	}
	h2{
		background-image:none;
		font-size:2.65em;
		text-shadow: 0em 0.07em 0.1em #bd391b;
	}
	h4{
		text-align:center;
		display:block;
		width:100%!important;
		margin-top:20px;
		left: 10%;
		position: relative;
		text-shadow: 0em 0.07em 0.1em #bd391b;
		font-size: 2.45em;
	}
	p
	{
		width: 65%;
		left:30%;
		padding-bottom:10px;
		font-size: 0.92em;
		min-width: 275px;
		position:relative;
	}
}
.small_content
{
	width:30%!important;
	float:left;
}
.portfolio
{
	position:relative;
	/*padding-left: 8% !important;*/
	width: 90%;
	min-width: 850px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-top: 0;
	div
	{
		width:50%;
		float:left;
		margin:0;
	}
}
div.portfolio_wrapper
{
	width:100%;
	float:left;
	div.left_content{
		float:left;
		width:30%!important;
		display:block;
		margin:0;
	}
	div.right_content{
		width:30%!important;
		margin:0;
	}
	div.center_content{
		width:30%!important;
		margin:0;
	}
}
div.title
{
	width: 88.3%!important;
	float:left!important;
	clear:both;
	h4{
	margin-left: 0;
	left: 5%;
	position: relative;
	}
	p{
	left: 10% !important;
	position: relative;
	}
}
div.description
{
	float:left!important;
	width:100%!important;
}
.text p
{
	width: 85% !important;
	left: 6% !important;	
}
}