@media only screen and (min-width: 748px) {
.small_menu
{
	width:20.5%;
	max-width:160px;
	min-width:130px;
	a{
	  padding-left:20px;
	  font-size:0.93em;
	}
}
.main {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
.menu
{
	width:448px;
	margin:0 auto;
}
.content
{
	width: 90%;
	min-width: 660px;
	padding-left: 8.5%;
	padding-right: 1.5%;
} img {
	max-width:130px;
}
div.portfolio_wrapper
{
	width:50%;
}
div.title
{
	width:50%!important;

}
.description
{
	width:50%!important;
}
}