@media only screen and (min-width: 660px) {

.main {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
.menu
{
	width:448px;
	margin:0 auto;
}
.content
{
	width:97.675%;
	min-width:660px;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
} img {
	max-width:130px;
}
}